button {   
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    border: none;
    border-radius: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
